.svetafor_border{
    width: 300px;
    height: 600px;
    margin: 30px auto;
}
.svetafor_ichi{
    width: 300px;
    height: 600px;
    background-color: rgb(139, 132, 132);
    border:10px solid rgb(104, 99, 99);
}
.rang__asosiy{
    position: relative;
    left: 60px;
    border: 3px solid rgb(104, 99, 99);
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height:150px;
    cursor: pointer;
}
.rang_1{
    top: 30px;
    background-color: red;
   }
.rang_2{
    top: 50px;
    background-color: #FDCA00;
    }
.rang_3{
    top: 80px;
    background-color: #00A601; 
   }
.button{
    border: none;
    margin: 100px auto;
    width: 300px;
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
